parameters:
    level: 9
    paths:
        - src
    bootstrapFiles:
        - vendor/autoload.php
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - src/MyanimelistMetadataProviderAdapter.php
    ignoreErrors:
        -
            message: '#^Method Phlix\\Myanimelist\\MyanimelistMetadataProvider\:\:parseSearchResponse\(\) is unused\.$#'
            identifier: method.unused
            count: 1
            path: src/MyanimelistMetadataProvider.php
